@import "../../app.scss";

.services {
  background: radial-gradient(ellipse farthest-corner at 90% 90%, hsla(246, 77%, 45%, 0.4), hsla(0, 0%, 9%, 0)),
    radial-gradient(ellipse farthest-corner at 0% 50%, hsla(356, 95%, 48%, 0.3), hsla(0, 0%, 9%, 0)), ;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 100;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;


        @include mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        color: white;
        width: 300px;
        height: 100px;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid white;
        font-size: medium;
        cursor: pointer;

        &:hover {
          transition: background-color 0.4s,
            border-color 0.4s;
          background-color: #615CF2;
          border-color: transparent;
        }

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }

  .listContainer {


    max-width: 1366px;
    margin: 0 auto;
    padding-bottom: 40px;

    .box {
      margin: 10px;
      align-items: center;
      overflow: hidden;
      position: relative;
      border-radius: 15px;
      max-width: 300px;
      height: 300px;
      display: inline-block;

      &::before {
        content: "";
        z-index: 6;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;

        background: linear-gradient(180deg,
            rgba(36, 43, 51, 0) 20%,
            #151515 100%);
      }

      &:hover {
        transition: opacity 0.4s,
          transform 0.4s;
        opacity: 0.7;
        transform: scale(1.1);
      }



      // @include mobile {
      //   border: none;
      //   align-items: center;
      //   justify-content: center;
      //   gap: 20px;
      //   padding: 10px;
      // }

      img {
        max-block-size: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 5;

        transition: all 0.2s ease-in;

      }

      h2 {
        z-index: 9;
        position: absolute;
        left: 60px;
        right: 20px;
        bottom: 24px;
        font-size: 22px;
        font-weight: 100;
        color: white;
      }
    }
  }
}