@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, hsla(0, 0%, 11%, 0), hsla(233, 24%, 21%, 0.3)),
    url("/fon.jpg"), no-repeat center, center;
  min-height: 100%;
  background-size: cover;
  position: relative;


  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: #615CF2;
        letter-spacing: 10px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      h1 {
        font-size: 64px;
        font-weight: 100;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {
        z-index: 998;

        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-size: medium;
          font-weight: 300;

          &:hover {
            transition: background-color 0.4s,
              border-color 0.4s;
            background-color: #615CF2;
            border-color: transparent;
          }
        }
      }

      img {
        width: 50px;

      }
    }
  }

  .slidingTextContainer {
    z-index: 1;
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #c6adec09;
    width: 50%;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

}